@charset "utf-8";
/* CSS Document */

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Html
- Body
- Dash Date Picker
- Dash Dropdown
- Dash Table
- Img
- Typography
*/

/* Html
––––––––––––––––––––––––––––––––––––––––––––––––––*/
html {
  font-family: 'Karla' !important;
  /* background: #ffa600; */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
  overflow-x: hidden !important;
}

/* Body
––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  font-family: 'Karla' !important;
  background-color: transparent; /* By default the body color is white, making any transparent component, actually white!*/
}

/* Dash Date Picker
https://github.com/plotly/dash-core-components/blob/557d2fd4987c437265d220f71ee69c2d0616526c/dash_core_components/react-dates%4012.3.0.css
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.DateInput_input,
.DateInput_input_1 {
  /* color: inherit !important; */
  text-align: center;
  font-size: inherit !important;
  height: 25px !important;
  width: 100% !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.DateInput {
  /* color: inherit !important; */
  width: 95px !important;
}

.DateRangePickerInput_arrow_svg,
.DateRangePickerInput_arrow_svg_1 {
  height: 10px !important;
  width: 10px !important;
}

/* Calendar date start and end */
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #003f5c !important;
  border: 1px double #003f5c !important;
  color: #ffffff !important;
}

/* Calendar in between start and end date */
.CalendarDay__selected_span {
  background: #003f5c !important;
  border: 1px double #003f5c !important;
  color: #ffffff !important;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  /* background: #ffa600 !important;
  border: 1px double #ffa600 !important; */
  color: #ffffff !important;
}

/* Calendar default help button */
.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-top: 26px solid transparent;
  border-right: 33px solid #003f5c !important;
  bottom: 0;
  right: 0;
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover
  .DayPickerKeyboardShortcuts_show__bottomRight:active {
  border-top: 26px solid transparent;
  border-right: 33px solid #ffa600 !important;
  bottom: 0;
  right: 0;
}

/* Dash Dropdown
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.VirtualizedSelectOption {
  white-space: nowrap;
}

/* Dash Table
––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* tr:hover {
  background-color: #003f5c !important;
} */

/* Img
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* vertical-align: middle; */
  border-style: none;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla' !important;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  /* padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: central;
  text-align: center;
  font-weight: 350; */
  color: #ffffff;
}
/* 
p {
  font-weight: 400;
} */

/*
custom 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a:link {
  color: #003f5c;
}

a:visited {
  color: #ffa600;
}

a:hover {
  color: #ffa600;
}

/*
https://community.plotly.com/t/datatable-incorrectly-displayed-at-left-and-right-edge-and-distort-after-update-columns/41265/6
*/
/* .dash-table-container .row {
  display: block;
  margin: 0;
} */

tr > td > div > p {
  margin: 0;
  text-align: right;
}

tr > td > div > p a:hover {
  color: #ffa600;
}

/* Remove hanging block at the end of a markdown block */
.hljs {
  display: none;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    font-family: 'Karla' !important;
    --accent: #ffa600 !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    background-color: #ffffff;
}
