name: xengagement

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '0 0 1 1 *'
    
jobs:
  data-update:
    runs-on: macOS-latest
    
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TWITTER_APP: ${{ secrets.TWITTER_APP }}
      TWITTER_CONSUMER_API_KEY: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
      TWITTER_CONSUMER_API_SECRET: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
      TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
      TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1

      - name: Install pak and packages
        run: |
          install.packages('pak', repos = 'https://r-lib.github.io/p/pak/dev/')
          pak::pak(c('rstudio/webshot2', 'gadenbuie/tweetrmd'))
          pak::pak(c('tonyelhabr/xengagement'))
          install.packages(c('dplyr', 'tidyr', 'purrr', 'readr', 'lubridate', 'glue'))
        shell: Rscript {0}

      - name: Update data
        run: Rscript data-raw/update.R
        
      - name: Commit results
        run: |
          git diff-index --quiet HEAD || (git commit -am 'Auto-updated data' --allow-empty && git push -f)
